
    @{
        ViewData["Title"] = "Išlaidų valdymo sistema";
    }
    <div class="text-center"> 
    <h1 class="display-4">Išlaidų valdymo sistema</h1>
    <p>Egzamino pasiruošimo projektas su ASP.NET Core MVC.</p>
    </div>